{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
Login Page
{% endblock  %}


{% block content %}
   
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col col-sm-6">
                <h2>Login</h2>
            
                <form method="POST">{% csrf_token %}
                    {{ login_form | crispy }}
                    <button type="submit" class="btn btn-primary">Log in</button> 
                    <span>New to Goodreads? <a href="{% url 'users:register' %}"> Get register</a></span>
                </form>
            </div>
        </div>
    </div>
    

{% endblock  %}
