{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
Login Page
{% endblock  %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col col-sm-4">
                <h2>Register</h2>
                <form action="{% url 'users:register' %}" method="post">{% csrf_token %}
                    {{ form | crispy }}
                    <p></p>
                    <button type="submit" class="btn btn-primary">submit</button>
                    <span>You already have an account. <a href="{% url 'users:login' %}"> Login</a></span>
                </form>

            </div>
        </div>
    </div>

{% endblock  %}
