<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Goodreads Clone{% endblock  %}</title>
    <style>
        
        body {
            font-family: sans-serif;
        }

    </style>
</head>
<body>
    <div style="display: flex; justify-content: space-between;">
        <div>
            <p>
                <a href="{% url 'books:books_list' %}">Books List</a> /
                <a href="{% url 'users:profile' %}">Dashboard</a> /
                <a href="{% url "users:register" %}">Register</a> /
                
                {% if user.is_authenticated %}
                <a href="{% url "users:logout" %}">Logout</a>
                {% else %}
                <a href="{% url "users:login" %}">Login</a>
                {% endif %}
            </p>
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}
        </div>
        <div></div>
    </div>
    {% block content %}
    {% endblock  %}

</body>
</html>