<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing page</title>
</head>
<body>
    <div style="display: flex; justify-content: space-between;">
        <div>
            <h1>Landing page</h1>
            <p>
                <a href="{% url "users:register" %}">Register</a> /
                <a href="{% url "users:login" %}">Login</a>
            </p>
        </div>
        <div>
            <h1>
                <a href="{% url 'books:books_list' %}">Books List</a>
            </h1>
        </div>
    </div>
    
</body>
</html>