{% extends 'base.html' %}

{% block title %}
Books List Page
{% endblock  %}


{% block content %}
    <h1>Books List</h1>
    {% if messages %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    {% endif %}
    {% if books %}
        <ol>
            {% for book in books %}
                <li>
                    <a href="{% url 'books:book_detail' book.id %}">{{ book }}</a>
                </li>
                <br/>
            {% endfor %}
        </ol>
    {% else %}
        No books found.
    {% endif %}

{% endblock  %}
