<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'landing_page' %}">Back</a>
    <h1>Books List</h1>

    {% if books %}
        <ol>
            {% for book in books %}
                <li>
                    <a href="{% url 'books:book_detail' book.id %}">{{ book }}</a>
                </li>
                <br/>
            {% endfor %}
        </ol>
    {% else %}
        No books found.
    {% endif %}
    
</body>
</html>